@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

/* overwriting the browser styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* My Styling */


* {
    box-sizing:border-box;
}
body {
    font-family: 'Spartan', sans-serif;
}

#hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: 
        url(./martin-adams-a_PDPUPuNZ8-unsplash.jpg);
    background-size: cover;
    background-blend-mode: saturation;
}
h1 {
    position: absolute;
    top: 26px;
    left: 16px;
}

h2 {
    /* display: none */
}

h3 {
    padding-bottom: 5%;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action > a {
    padding: 24px 32px;
    background-color: hsl(335, 99%, 50%);
    box-shadow: 0 2px 2px hsl(335, 40%, 20%);
    text-decoration: none;
    color: hsl(335, 99%, 95%);;
    font-weight: 900;
    font-size: 24px;
    transition: transform .2s;
}

.call-to-action > a:hover {
    transform: scale(1.15);
}

#challenge-header {
    padding: 3em;
}

.row {
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100vh;
}
  

[data-draggable="target"]{
	float:left;
	list-style-type:none;
	width: 85%;
	height: 7.5em;
	overflow-y:auto;
	margin:0 0.5em 0.5em 0;
	padding:0.5em;
	border:2px solid #888;
	border-radius:0.2em;
	background:#ddd;
    color:#555;
    height: 100vh;
}

[data-draggable="item"]{
	display:block;
	list-style-type: none;
	margin:0 0 2px 0;
	padding: 0 0;
	border-radius:0.2em;
	line-height:1.3;
}

.c1 {
    background-color: rgba(133, 33, 8, 0.335);
}

.c2 {
    background-color: rgba(212, 223, 58, 0.335);
}
.c3 {
    background-color: rgba(72, 255, 0, 0.335);
}

/*fix this to be flexbox later */
.input-box {
    width: 1000px;
    height: 300px;
}